.featured-projects {
  text-align: center;
  font-weight:400;
}
body {
}
.background-image {
  background-image: url("/../images/office2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;
}


.footer-container {
  background-color: rgb(170, 226, 215, 0.5);
  display: flex;
  justify-content: center;
}
.footer-container a {
  margin-left: 10px;
  margin-right: 10px;
}
.footer-image {
  height: 250px;
}
.footer-container a {
  color: black;
}
.text-overlay-margin {
  margin-top: 150px;
  background-color: rgb(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-family: 'GFS Didot', serif;
}
