.featured-projects {
  text-align: center;
}
body {

}
.background-image {
  background-image: url("/../images/office2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;
 
}
.index-text-overlay{
   font-weight: 900;
  text-transform: uppercase; 
}

.footer-container{
    background-color: rgb(170, 226, 215,0.5);
    display: flex;
    justify-content: center;
}
.footer-container a{
    margin-left: 10px;
    margin-right: 10px;
}
.footer-image{
    height: 250px;
    text-align: left;
}