.featured-projects {
  text-align: center;
  font-weight:400;
  margin-top: 80px
}

.background-image {
  background-image: url("/../images/office2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  
}


.footer-container {
  margin-top:60px;
  background-color: rgb(183, 211, 244, 0.7);
  display: flex;
  justify-content: center;
}
.footer-container a {
  margin-left: 10px;
  margin-right: 10px;
}
.footer-image {
  height: 250px;
}
.footer-container a {
  color: black;
}
.text-overlay {
  margin-top: 150px;
  background-color: rgb(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-family: 'GFS Didot', serif;
}

.pages{
    margin-top: 100px;
}
.pages-header{
      font-family: 'GFS Didot', serif;
}
@media (max-width:700px) {
.text-overlay{
    margin-top: 75px;
    font-size: 20;
}
}
